*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'cocogoose';
  src: url(../fonts/Cocogoose\ Pro-trial.ttf);
}

@font-face {
  font-family: 'cocogoose1';
  src: url(../fonts/Cocogoose\ Pro\ Light-trial.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  background: url(../images/mobile-bg.png) center/cover no-repeat;
  color: #272a31;
}

.navbar {
  position: fixed;
  z-index: 999;
  background: #fff;
  width: 100%;
  clear: both;
  box-shadow: 0 8px 15px #272a311a;
}

.hamburger {
  display: block;
  cursor: pointer;
  margin: 5px 20px;
  float: left;
}

.bar {
  display: block;
  width: 40px;
  height: 6px;
  margin: 8px auto;
  background-color: #272a31;
}

.top-header,
.header-bottom {
  display: none;
}

.wrapper {
  width: 100%;
  position: relative;
  top: 80px;
  height: 200px;
}

.introduction {
  margin: 0 auto;
  width: 90%;
  padding: 70px 20px;
}

.quote {
  display: inline-block;
  color: #ec5242;
  font-family: 'cocogoose1', sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
}

.goal {
  margin-top: 10px;
  color: #ec5242;
  font-family: 'cocogoose', sans-serif;
  text-transform: uppercase;
}

.ideal {
  padding: 5px;
  margin: 20px auto;
  width: 100%;
}

.ideal span {
  border: 2px solid #d3d3d3;
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
}

.work-hour {
  margin: 0 0 10px;
}

.program {
  width: 100%;
  background: url(../images/program-bg.jpg);
  color: #fff;
  padding: 20px 10px;
}

.program-title,
.sponsor-title,
.partner-title {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 250px;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
}

.program-title::after,
.sponsor-title::after {
  content: '';
  position: absolute;
  width: 20%;
  background-color: #ec5242;
  transform: translate(-50%, -50%);
  left: 40%;
  height: 1px;
  margin: 30px 25px;
}

.program-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px 0;
}

.program-card {
  background-color: rgba(211, 211, 211, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.program-card:hover {
  border: 1px solid #d3d3d3;
  transform: scale(0.95);
  cursor: pointer;
}

.program .left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.left span {
  color: #ec5242;
  font-weight: bold;
}

.left img {
  max-width: 30%;
  height: auto;
}

.join-btn {
  width: 290px;
  margin: 20px auto;
  text-align: center;
}

.join-btn a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  background-color: #ec5242;
  color: #fff;
  font-size: 1.2rem;
  padding: 1.5rem;
}

.join-btn a:hover {
  border: 1px solid rgb(255, 255, 255);
}

#sponsor {
  margin-top: 50px;
}

.sponsor-container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 50px;
  margin: 30px 0;
}

.sponsor1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor-name {
  margin-left: -80px;
}

.sponspo-avatar {
  width: 200px;
  position: relative;
  z-index: 1;
}

.img {
  width: 50%;
  position: absolute;
  z-index: -1;
  top: -1.5rem;
  left: -1.5rem;
}

.portrait {
  width: 70%;
  height: auto;
}

.sponsor-info {
  text-align: center;
}

.sponsor-bio {
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.8rem;
}

.position {
  color: #ec5242;
  font-family: 'cocogoose1', sans-serif;
  position: relative;
  font-style: italic;
}

hr {
  position: absolute;
  width: 50px;
  margin: 10px 20px;
}

.background {
  padding: 10px 0;
  font-family: 'cocogoose1', sans-serif;
}

.partner {
  background-color: #272a31;
  width: 100%;
}

.partner img {
  width: 40%;
  height: auto;
}

.partner-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 30px 0 0;
  justify-content: space-around;
}

.partner-title {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 250px;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  color: #d3d3d3;
}

.partner-title::after {
  content: '';
  position: absolute;
  width: 20%;
  background-color: #ec5242;
  transform: translate(-50%, -50%);
  left: 40%;
  height: 1px;
  margin: 30px 25px;
}

.partner-container figure {
  padding-bottom: 20px;
  cursor: pointer;
}

.partner-container figcaption {
  color: #d3d3d3;
  font-size: 0.7rem;
  font-family: 'cocogoose1', sans-serif;
}

.last {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  body {
    background-position-y: 100px;
    font-size: 16px;
  }

  .navbar {
    position: fixed;
    background-color: #fff;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 8px 15px rgba(39, 42, 49, 0.3);
  }

  .hamburger {
    display: none;
  }

  .top-header {
    display: block;
    width: 100%;
    background-color: #272a31;
    padding: 5px;
  }

  .top-header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: calc(15% - 20px);
  }

  .top-header .nav-item {
    list-style-type: none;
    margin: 0 8px;
  }

  .top-header .nav-link {
    color: #fff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  }

  .header-bottom {
    display: flex;
    justify-content: space-around;
    height: 70px;
  }

  .logo {
    padding: 25px 0;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }

  .main-nav .nav-item {
    list-style-type: none;
    margin: 0 20px;
  }

  .header-bottom .nav-link {
    text-decoration: none;
    color: #272a31;
    font-family: 'cocogoose1', sans-serif;
  }

  .nav-item .campain {
    color: #ec5242;
    border: 3px solid #ec5242;
    padding: 0.6rem;
  }

  .wrapper {
    top: 60px;
  }

  .introduction {
    margin: 5rem;
    width: 60%;
  }

  .quote {
    width: 550px;
    font-size: 1rem;
  }

  .goal {
    margin: 20px 0;
  }

  .ideal {
    padding: 10px;
  }

  .ideal span {
    border: 4px solid #d3d3d3;
    padding: 15px;
    margin-bottom: 20px;
    width: 80%;
  }

  .work-hour {
    margin: 0 0 10px;
  }

  .program {
    padding: 40px 10px;
  }

  .program-title {
    width: 250px;
    font-size: 1.3rem;
  }

  .program-title::after {
    transform: translate(-50%, -50%);
    left: 40%;
    height: 1px;
    margin: 45px 25px;
  }

  .program-container {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin: 20px auto;
    width: 100%;
    gap: 20px;
  }

  .program .left {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 50%;
  }

  .program-card {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    width: 270px;
    min-height: 250px;
    padding: 10px;
  }

  .left span {
    color: #ec5242;
    font-weight: bold;
  }

  .left img {
    max-width: 50%;
    height: auto;
    color: #fff;
  }

  .join-btn {
    width: 290px;
    margin: 20px auto;
    text-align: center;
  }

  .join-btn a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    background-color: #ec5242;
    color: #fff;
    font-size: 1.2rem;
    padding: 1.5rem;
  }

  .sponsor-container {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    width: 90%;
  }

  .sponsor1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .img {
    width: 70%;
    top: -1rem;
    left: -1rem;
  }

  .portrait {
    width: 100%;
    height: auto;
  }

  .partner img {
    width: 100px;
    height: auto;
  }

  .partner-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 200px;
    margin: 50px auto 0;
    justify-content: space-between;
  }

  .partner-title {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 250px;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
    color: #d3d3d3;
  }

  .partner-title::after {
    content: '';
    position: absolute;
    width: 20%;
    background-color: #ec5242;
    transform: translate(-50%, -50%);
    left: 40%;
    height: 1px;
    margin: 30px 25px;
  }

  .partner-container figcaption {
    color: #d3d3d3;
    font-size: 1rem;
    font-family: 'cocogoose1', sans-serif;
  }

  .last {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
  }
}

@media only screen and (min-width: 1260px) {
  .program-container {
    width: 80%;
  }
}
